# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
node_modules*
node_modules/.bin*
package-lock.json
node_modules/.bin/_mocha
node_modules/.bin/_mocha.ps1
node_modules/.bin/mocha
node_modules/.bin/mocha.ps1
node_modules/.package-lock.json
node_modules/chai-http/dist/chai-http.js
node_modules/chai-http/History.md
node_modules/chai-http/index.js
node_modules/chai-http/lib/http.js
node_modules/chai-http/lib/net.js
node_modules/chai-http/lib/request.js
node_modules/chai-http/package.json
node_modules/chai-http/README.md
node_modules/chai-http/types/index.d.ts
node_modules/chai/bower.json
node_modules/chai/chai.js
node_modules/chai/CODE_OF_CONDUCT.md
node_modules/chai/CODEOWNERS
node_modules/chai/CONTRIBUTING.md
node_modules/chai/History.md
node_modules/chai/index.js
node_modules/chai/index.mjs
node_modules/chai/karma.conf.js
node_modules/chai/karma.sauce.js
node_modules/chai/lib/chai.js
node_modules/chai/lib/chai/assertion.js
node_modules/chai/lib/chai/config.js
node_modules/chai/lib/chai/core/assertions.js
node_modules/chai/lib/chai/interface/assert.js
node_modules/chai/lib/chai/interface/expect.js
node_modules/chai/lib/chai/interface/should.js
node_modules/chai/lib/chai/utils/addChainableMethod.js
node_modules/chai/lib/chai/utils/addLengthGuard.js
node_modules/chai/lib/chai/utils/addMethod.js
node_modules/chai/lib/chai/utils/addProperty.js
node_modules/chai/lib/chai/utils/compareByInspect.js
node_modules/chai/lib/chai/utils/expectTypes.js
node_modules/chai/lib/chai/utils/flag.js
node_modules/chai/lib/chai/utils/getActual.js
node_modules/chai/lib/chai/utils/getEnumerableProperties.js
node_modules/chai/lib/chai/utils/getMessage.js
node_modules/chai/lib/chai/utils/getOperator.js
node_modules/chai/lib/chai/utils/getOwnEnumerableProperties.js
node_modules/chai/lib/chai/utils/getOwnEnumerablePropertySymbols.js
node_modules/chai/lib/chai/utils/getProperties.js
node_modules/chai/lib/chai/utils/index.js
node_modules/chai/lib/chai/utils/inspect.js
node_modules/chai/lib/chai/utils/isNaN.js
node_modules/chai/lib/chai/utils/isProxyEnabled.js
node_modules/chai/lib/chai/utils/objDisplay.js
node_modules/chai/lib/chai/utils/overwriteChainableMethod.js
node_modules/chai/lib/chai/utils/overwriteMethod.js
node_modules/chai/lib/chai/utils/overwriteProperty.js
node_modules/chai/lib/chai/utils/proxify.js
node_modules/chai/lib/chai/utils/test.js
node_modules/chai/lib/chai/utils/transferFlags.js
node_modules/chai/LICENSE
node_modules/chai/package.json
node_modules/chai/README.md
node_modules/chai/register-assert.js
node_modules/chai/register-expect.js
node_modules/chai/register-should.js
node_modules/chai/ReleaseNotes.md
node_modules/chai/sauce.browsers.js
node_modules/mocha/bin/_mocha
node_modules/mocha/bin/mocha.js
node_modules/mocha/browser-entry.js
node_modules/mocha/index.js
node_modules/mocha/lib/browser/highlight-tags.js
node_modules/mocha/lib/browser/parse-query.js
node_modules/mocha/lib/browser/progress.js
node_modules/mocha/lib/browser/template.html
node_modules/mocha/lib/cli/cli.js
node_modules/mocha/lib/cli/collect-files.js
node_modules/mocha/lib/cli/commands.js
node_modules/mocha/lib/cli/config.js
node_modules/mocha/lib/cli/index.js
node_modules/mocha/lib/cli/init.js
node_modules/mocha/lib/cli/lookup-files.js
node_modules/mocha/lib/cli/node-flags.js
node_modules/mocha/lib/cli/one-and-dones.js
node_modules/mocha/lib/cli/options.js
node_modules/mocha/lib/cli/run-helpers.js
node_modules/mocha/lib/cli/run-option-metadata.js
node_modules/mocha/lib/cli/run.js
node_modules/mocha/lib/cli/watch-run.js
node_modules/mocha/lib/context.js
node_modules/mocha/lib/errors.js
node_modules/mocha/lib/hook.js
node_modules/mocha/lib/interfaces/bdd.js
node_modules/mocha/lib/interfaces/common.js
node_modules/mocha/lib/interfaces/exports.js
node_modules/mocha/lib/interfaces/index.js
node_modules/mocha/lib/interfaces/qunit.js
node_modules/mocha/lib/interfaces/tdd.js
node_modules/mocha/lib/mocha.js
node_modules/mocha/lib/mocharc.json
node_modules/mocha/lib/nodejs/buffered-worker-pool.js
node_modules/mocha/lib/nodejs/esm-utils.js
node_modules/mocha/lib/nodejs/file-unloader.js
node_modules/mocha/lib/nodejs/parallel-buffered-runner.js
node_modules/mocha/lib/nodejs/reporters/parallel-buffered.js
node_modules/mocha/lib/nodejs/serializer.js
node_modules/mocha/lib/nodejs/worker.js
node_modules/mocha/lib/pending.js
node_modules/mocha/lib/plugin-loader.js
node_modules/mocha/lib/reporters/base.js
node_modules/mocha/lib/reporters/doc.js
node_modules/mocha/lib/reporters/dot.js
node_modules/mocha/lib/reporters/html.js
node_modules/mocha/lib/reporters/index.js
node_modules/mocha/lib/reporters/json-stream.js
node_modules/mocha/lib/reporters/json.js
node_modules/mocha/lib/reporters/landing.js
node_modules/mocha/lib/reporters/list.js
node_modules/mocha/lib/reporters/markdown.js
node_modules/mocha/lib/reporters/min.js
node_modules/mocha/lib/reporters/nyan.js
node_modules/mocha/lib/reporters/progress.js
node_modules/mocha/lib/reporters/spec.js
node_modules/mocha/lib/reporters/tap.js
node_modules/mocha/lib/reporters/xunit.js
node_modules/mocha/lib/runnable.js
node_modules/mocha/lib/runner.js
node_modules/mocha/lib/stats-collector.js
node_modules/mocha/lib/suite.js
node_modules/mocha/lib/test.js
node_modules/mocha/lib/utils.js
node_modules/mocha/LICENSE
node_modules/mocha/mocha.css
node_modules/mocha/mocha.js
node_modules/mocha/package.json
node_modules/mocha/README.md
node_modules/mysql2/index.d.ts
node_modules/mysql2/index.js
node_modules/mysql2/lib/auth_41.js
node_modules/mysql2/lib/auth_plugins/caching_sha2_password.js
node_modules/mysql2/lib/auth_plugins/caching_sha2_password.md
node_modules/mysql2/lib/auth_plugins/index.js
node_modules/mysql2/lib/auth_plugins/mysql_clear_password.js
node_modules/mysql2/lib/auth_plugins/mysql_native_password.js
node_modules/mysql2/lib/auth_plugins/sha256_password.js
node_modules/mysql2/lib/commands/auth_switch.js
node_modules/mysql2/lib/commands/binlog_dump.js
node_modules/mysql2/lib/commands/change_user.js
node_modules/mysql2/lib/commands/client_handshake.js
node_modules/mysql2/lib/commands/close_statement.js
node_modules/mysql2/lib/commands/command.js
node_modules/mysql2/lib/commands/execute.js
node_modules/mysql2/lib/commands/index.js
node_modules/mysql2/lib/commands/ping.js
node_modules/mysql2/lib/commands/prepare.js
node_modules/mysql2/lib/commands/query.js
node_modules/mysql2/lib/commands/quit.js
node_modules/mysql2/lib/commands/register_slave.js
node_modules/mysql2/lib/commands/server_handshake.js
node_modules/mysql2/lib/compressed_protocol.js
node_modules/mysql2/lib/connection.js
node_modules/mysql2/lib/connection_config.js
node_modules/mysql2/lib/constants/charset_encodings.js
node_modules/mysql2/lib/constants/charsets.js
node_modules/mysql2/lib/constants/client.js
node_modules/mysql2/lib/constants/commands.js
node_modules/mysql2/lib/constants/cursor.js
node_modules/mysql2/lib/constants/encoding_charset.js
node_modules/mysql2/lib/constants/errors.js
node_modules/mysql2/lib/constants/field_flags.js
node_modules/mysql2/lib/constants/server_status.js
node_modules/mysql2/lib/constants/session_track.js
node_modules/mysql2/lib/constants/ssl_profiles.js
node_modules/mysql2/lib/constants/types.js
node_modules/mysql2/lib/helpers.js
node_modules/mysql2/lib/packet_parser.js
node_modules/mysql2/lib/packets/auth_next_factor.js
node_modules/mysql2/lib/packets/auth_switch_request.js
node_modules/mysql2/lib/packets/auth_switch_request_more_data.js
node_modules/mysql2/lib/packets/auth_switch_response.js
node_modules/mysql2/lib/packets/binary_row.js
node_modules/mysql2/lib/packets/binlog_dump.js
node_modules/mysql2/lib/packets/binlog_query_statusvars.js
node_modules/mysql2/lib/packets/change_user.js
node_modules/mysql2/lib/packets/close_statement.js
node_modules/mysql2/lib/packets/column_definition.js
node_modules/mysql2/lib/packets/execute.js
node_modules/mysql2/lib/packets/handshake.js
node_modules/mysql2/lib/packets/handshake_response.js
node_modules/mysql2/lib/packets/index.js
node_modules/mysql2/lib/packets/packet.js
node_modules/mysql2/lib/packets/prepare_statement.js
node_modules/mysql2/lib/packets/prepared_statement_header.js
node_modules/mysql2/lib/packets/query.js
node_modules/mysql2/lib/packets/register_slave.js
node_modules/mysql2/lib/packets/resultset_header.js
node_modules/mysql2/lib/packets/ssl_request.js
node_modules/mysql2/lib/packets/text_row.js
node_modules/mysql2/lib/parsers/binary_parser.js
node_modules/mysql2/lib/parsers/parser_cache.js
node_modules/mysql2/lib/parsers/string.js
node_modules/mysql2/lib/parsers/text_parser.js
node_modules/mysql2/lib/pool.js
node_modules/mysql2/lib/pool_cluster.js
node_modules/mysql2/lib/pool_config.js
node_modules/mysql2/lib/pool_connection.js
node_modules/mysql2/lib/results_stream.js
node_modules/mysql2/lib/server.js
node_modules/mysql2/License
node_modules/mysql2/package.json
node_modules/mysql2/promise.d.ts
node_modules/mysql2/promise.js
node_modules/mysql2/README.md
node_modules/mysql2/typings/mysql/index.d.ts
node_modules/mysql2/typings/mysql/info.txt
node_modules/mysql2/typings/mysql/lib/Connection.d.ts
node_modules/mysql2/typings/mysql/lib/Pool.d.ts
node_modules/mysql2/typings/mysql/lib/PoolCluster.d.ts
node_modules/mysql2/typings/mysql/lib/PoolConnection.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/Field.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/FieldPacket.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/index.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/OkPacket.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/params/ErrorPacketParams.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/params/OkPacketParams.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/ResultSetHeader.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/packets/RowDataPacket.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/sequences/Prepare.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/sequences/Query.d.ts
node_modules/mysql2/typings/mysql/lib/protocol/sequences/Sequence.d.ts
node_modules/mysql2/typings/mysql/lib/Server.d.ts
node_modules/mysql2/typings/mysql/LICENSE.txt
